{% extends "base.html" %}
{% block title %} Products {% endblock %}

{% block content %}
<div>
    <p>
        this is product page
    </p>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>product name</th>
                    <th>Product id</th>
                    <th>Buying price</th>
                    <th>Selling price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in products_data %}
                <tr>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}